version: '3.8'

services:
  web:
    build: .
    
    volumes:
      - .:/app
      - ./data:/app/data

    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      - celery
      

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: san_jorge
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"

  celery:
    build: .
    command: celery -A app.celery_app worker --loglevel=info
    depends_on:
      - redis
      - db
    volumes:
        
      - ./data:/app/data      
